<header class="app-header">
   <span class="pull-left">
		<a href="javascript:void(0);" ng-click="returnTo()">
			<i class="fa fa-angle-left" ng-init="needReturn=false" ng-show="needReturn"></i>
		</a>
		<i class="fa fa-users"></i><label class="title">互动教室</label>
	</span>
	<span class="pull-right">
		<i class="fa fa-ellipsis-v pull-right" data-toggle="dropdown" id="dropdownMenu1"></i>
		<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
			<li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);" ng-click="quit()">退出应用</a></li>
		</ul>
	</span>
</header>

<div class="app-content" ui-view="main"></div>